.item-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: start;
  list-style: none;
  font-size: 1rem;
}
.item-link-header a {
  text-decoration: none;
  list-style: none;
}

.newTab {
  position: relative;
}

.newTab:hover::before {
  content: 'Abrirá em uma nova aba';
  text-transform: none;
  position: absolute;
  top: -50%;
  left: 40%;
  white-space: nowrap;

  font-size: 0.9rem;
  background-color: #6c757d;
  color: #ddd;
  border-radius: 0.25rem;
  padding: 5px;
}

@media (min-width: 576px) {
  .item-link {
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  .item-link {
    font-size: .8rem;
  }
}


@media (min-width: 992px) {
  .item-link {
    font-size: .9rem;
  }
}
